{{extend 'layout.html'}}
<html>
<head>
	<link rel="stylesheet" href="{{=URL('static','css/style.css')}}">
</head>
<body id="index">
	<center>
	
	<!--Index Pseudo-Code:
	 
		If user is logged in,
			present options to proceed with app.
		 else,
		 	give two buttons [register || login]
		 	if register, show registration form in index.
		 	else if login, show login form. 
	  --!>
		 	
	{{if auth.user:}}
	
		<a href="{{=URL('default', 'ingredients')}}"><img width="200px" src="{{=URL('../../static/images/ing.png')}}"/>
		<a href="{{=URL('default', 'recipes')}}"><img width="200px" src="{{=URL('../../static/images/rp.png')}}"/>
		<br>
		<a href="{{=URL('default', 'shoplist')}}"><img width="200px" src="{{=URL('../../static/images/sl.png')}}"/>
		<a href="{{=URL('default', 'support')}}"><img width="200px" src="{{=URL('../../static/images/support.png')}}"/>
		
	{{else:}}
		<!-- Custom login form: https://groups.google.com/forum/#!topic/web2py/DyspJUl_IMM --!>
		{{form=auth.login()}}
		{{=form.custom.begin}}
			Username:
			{{=form.custom.widget.username}}
		<br>
			Password:
			{{=form.custom.widget.password}}
		<br>
			{{=form.custom.submit}}
		
		<!-- indention junk for Login button -->
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp
		<!-- Leave this here until someone figures out how to use a for loop 
		     in html without javascript --!>
		     
		{{=form.custom.end}}
		{{pass}}
		
		
		<br><br>
		<br><br>
		<br><br>

		
		{{=A('Home', _href=URL('default', 'index'))}}
		&nbsp&nbsp&nbsp&nbsp
		{{=A('Ingredients', _href=URL('default', 'ingredients'))}}
		&nbsp&nbsp&nbsp&nbsp
		{{=A('Recipes', _href=URL('default', 'recipes'))}}
		&nbsp&nbsp&nbsp&nbsp
		{{=A('ShopList', _href=URL('default', 'shoplist'))}}
		&nbsp&nbsp&nbsp&nbsp
		{{=A('Support', _href=URL('default', 'support'))}} 
		
	{{pass}}
	</center>
</body>
</html>