{{extend 'layout.html'}}
<html>
<head>
	<link rel="stylesheet" href="{{=URL('static','css/style.css')}}">
</head>

<h1>Shopping List</h1>

<h2>
    Page Content:
</h2>

<body id="shoplist">
    1) A button that says 'Create' in order to add a new shopping list to the signed in user's list.
</body>
<p>{{=A('Create A New Shopping List', _href=URL('default', 'buildshoplist'))}}</p>
<h2>
</h2>
<body>
   2) A list of all shopping lists that the signed in user has created on to this site. Each shopping list is followed by a link that redirects to a page. The page shares a list of all ingredients that are required for each selected recipe.
</body>

<p>
    {{=A('Back', _href=URL('default', 'index'))}}
</p>

<center>
	{{=A('Home', _href=URL('default', 'index'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('Ingredients', _href=URL('default', 'ingredients'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('Recipes', _href=URL('default', 'recipes'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('ShopList', _href=URL('default', 'shoplist'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('Support', _href=URL('default', 'support'))}}
</center>