@font-face {
	font-family: 'BrushScript';
	src: url('../fonts/BrushScriptStd.otf');
}

body#index
{
	font-size:16px;
	background-image: url('../images/background.png');
	background-repeat:repeat;
	color: #FFFFFF;
	align: center;
	overflow: auto;
}

body#support
{
	font-size:16px;
	background-color: #1e1c19;
	background-repeat:repeat;
	color: #FFFFFF;
	align: center;
	overflow: auto;
}

body#ingredients
{
	font-size:16px;
	background-color: #692917;
	background-repeat:repeat;
	color: #FFFFFF;
	align: center;
	overflow: auto;
}

body#recipes
{
	font-size:16px;
	background-color: #2d3632;
	background-repeat:repeat;
	color: #FFFFFF;
	align: center;
	overflow: auto;
}

body#shoplist
{
	font-size:16px;
	background-color: #676056;
	background-repeat:repeat;
	color: #FFFFFF;
	align: center;
	overflow: auto;
}

#header {
	font-family: 'BrushScript';
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
}


h3 {
	height:30px;
	font-family: 'arial';
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

h4 {
	height:50px;
	font-family: 'arial';
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

#footer {

	font-family:arial,helvetica,sans-serif;
	font-size:12px;

	float:center;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	border:0px solid #bbb;
}

#bottom {

	clear:both;
	text-align:right;
}